* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #0D1B3E; */
}

@font-face {
  font-family: 'Acorn';
  src: url(./fonts/Acorn-Fonts/Acorn-Bold.woff2);
  font-weight: bolder;
}

@font-face {
  font-family: 'Acorn-medium';
  src: url(./fonts/Acorn-Fonts/Acorn-Bold.woff2);
  font-weight: bolder;
}

@font-face {
  font-family: 'Acorn-thin';
  src: url(./fonts/Acorn-Fonts/Acorn-ExtraLight.woff2);
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Main-Navbar {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.Nav-list {
  color: #f7f5fb;
  height: 4rem;
  width: clamp(36rem, 10vw, 50rem);
  line-height: 3.8rem;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 50px;
  border: 3px solid #6E44FF;
}

.Nav-list a {
  color: #6E44FF;
}

.Nav-list a:hover {
  color: #0D1B3E;
  background-color: #6E44FF;
}

.Nav-list li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Nav-items {
  background-color: #0d1b3e;
  transition: background-color .3s ease-in-out;
}

.Nav-items.active {
  background-color: #936BFF;
  color: #0D1B3E;
}

.Header {
  max-width: 100vw;
  height: 62.5rem;
  background-color: #0D1B3E;
  align-items: center;
  justify-content: center;
}

.Header h1 {
  margin-top: 12rem;
  color: #6E44FF;
  text-align: center;
  font-size: clamp(4.5rem, 8vw, 15rem);
  font-weight: bolder;
  font-family: 'Acorn', sans-serif;
}
.Header span {
  background: -webkit-linear-gradient(40deg, #ee6c4d, #6E44FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animation {
  width: 15rem;
  height: 15rem;
  margin: auto;
  text-align: center;
}

.home-text {
  color: #6E44FF;
  text-align: center;
  font-size: 28px;
  font-family: 'Acorn-medium', sans-serif;
}

.About-section {
  max-width: 100%;
  background-color: #0D1B3E;
}

.About-Me {
  font-family: "Acorn", sans-serif;
  font-weight: bolder;
  font-size: 80px;
  color: #6E44FF;

}

.About-Image {
  position: relative;
  display: inline-block;
  width: 40rem;
  height: 50rem;
}

.About-Img {
  display: block;
  width: 100%;
  height: 45rem;
  border-radius: 0 10rem;
}

.about-overlay {
  border-radius: 0 10rem;
  position: absolute;
  height: 45rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
}

.about-overlay-text {
  background-color: transparent;
}

.about-overlay-text h2,
p {
  background-color: transparent;

}

.About-Image:hover .about-overlay {
  background-color: none;
  opacity: 1;
  transition: .3s ease-in-out;
}

.About-text {
  font-size: 25px;
  color: #6E44FF;
  line-height: 45px;
  font-family: 'Acorn-medium', sans-serif;
  background-color: none;
  font-style: italic;
}

.About-heading {
  font-family: 'Acorn', sans-serif;
  color: #6E44FF;
  font-size: 75px;
  font-style: normal;
}

.Works-section {
  max-width: 100%;
  height: 62.5rem;
  background-color: #0D1B3E;
}

.Works {
  font-family: "Acorn", sans-serif;
  font-weight: bolder;
  font-size: 80px;
  color: #6E44FF;

}

.swiper-container {
  width: 15rem;
  height: 20rem;
}

.SwiperSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.mySwiper {
  width: 43.75rem;
  height: 43.75rem;
  position: relative;
}

.mySwiper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0d1b3e;
  opacity: 0.;
  z-index: 1;
}

.SwiperImage {
  max-width: 100%;
  max-height: 43.75rem;
  object-fit: cover;
}

.sticky-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.9s ease-in-out;
  z-index: 1000;
}

.hide {
  top: -115px;
}

.show {
  top: 0;
}

.social-icons {
  height: 4rem;
  width: 8rem;
}

.github {
  height: 2rem;
  width: 2rem;
  color: #6E44FF;
}

.github:hover {
  color: #ee6c4d;
  transform: scale(1.1);
  transition: .3s ease-in-out;
}

.linkedIn {
  color: #6E44FF;
  height: 2rem;
  width: 2rem;

}

.linkedIn:hover {
  color: #ee6c4d;
  transform: scale(1.1);
  transition: .3s ease-in-out;
}

.Total-Efficiency {
  height: 50rem;
  max-width: 100%;
  background-color: #0D1B3E;
}

.React {
  width: 35rem;
  height: 5rem;
  border-radius: 50px;
  line-height: 5rem;
  margin-left: 60rem;
}

.Javascript {
  width: 65rem;
  height: 5rem;
  border-radius: 50px;
  line-height: 5rem;
  margin-left: 40rem;
}

.Bootstrap {
  width: 50rem;
  height: 5rem;
  border-radius: 50px;
  line-height: 5rem;
  margin-left: 20rem;
}

.Wordpress {
  height: 5rem;
  width: 50rem;
  ;
  border-radius: 50px;
  line-height: 5rem;
  margin-left: 5rem;
}

.Technology {
  height: 5rem;
  width: 50rem;
  ;
  border-radius: 50px;
  line-height: 5rem;
  margin-left: 30rem;
}

.React:hover {
  transform: scale(1.1);
  transition: .5s ease-in-out;
}

.Javascript:hover {
  transform: scale(1.1);
  transition: .5s ease-in-out;
}

.Bootstrap:hover {
  transform: scale(1.1);
  transition: .5s ease-in-out;
}

.Wordpress:hover {
  transform: scale(1.1);
  transition: .5s ease-in-out;
}

.Technology:hover {
  transform: scale(1.1);
  transition: .5s ease-in-out;
}

.Efficiency-text {
  font-size: 20px;
  border-radius: 50px;
  color: #0D1B3E;
  /* background-color: #836BFF; */
  background: linear-gradient(to right, #6E44FF, #ee6c4d);
  font-weight: bolder;
  font-family: 'Acorn', sans-serif;
}

.React-percent {
  font-size: 20px;
  border-radius: 50px;
  color: #0D1B3E;
  background: none;
  margin: 0 0 0 11.5rem;
  font-family: 'Acorn', sans-serif;
}

.Javascript-percent {
  font-size: 20px;
  border-radius: 50px;
  color: #0D1B3E;
  background: none;
  margin: 0 0 0 39rem;
  font-family: 'Acorn', sans-serif;
}

.Bootstrap-percent {
  font-size: 20px;
  border-radius: 50px;
  color: #0D1B3E;
  background: none;
  margin: 0 0 0 24.5rem;
  font-family: 'Acorn', sans-serif;
}

.Wordpress-percent {
  font-size: 20px;
  border-radius: 50px;
  color: #0D1B3E;
  background: none;
  margin: 0 0 0 23.5rem;
  font-family: 'Acorn', sans-serif;
}

.Technology-percent {
  font-size: 20px;
  border-radius: 50px;
  color: #0D1B3E;
  background: none;
  margin: 0 0 0 19rem;
  font-family: 'Acorn', sans-serif;
}

.form {
  background-color: #6E44FF;
}

.form-main {
  background-color: #6E44FF;
  width: 45%;
}

.form-input {
  background-color: #6e44ff;
  width: 45%;
}

.form-message {
  background-color: #6E44FF;
  width: 45%;
  margin: auto;
  text-align: center;
}

.form-rule {
  width: 20rem;
  height: 1px;
}

.Form-container {
  max-width: 100%;
  height: 56.25rem;
  background-color: #6E44FF;
}

.Form-header {
  background-color: #6E44FF;
  text-align: center;
}

.Form-header h1 {
  background-color: #6E44FF;
  font-size: 3.2em;
}

.Form-header p {
  background-color: #6E44FF;
  font-size: 1.6em;
}

.form-main {
  justify-content: center;
}

.form-type {
  background-color: #6E44FF;
  color: #0D1B3E;
  font-size: 18px;
  border: none;
  outline: none;
}

.form-type-message {
  background-color: #6E44FF;
  color: #0D1B3E;
  font-size: 18px;
  border: none;
  overflow-y: auto;
  outline: none;
}

.form-label {
  background-color: #6E44FF;
  color: #0D1B3E;
  font-size: 18px;
}

input::placeholder {
  color: #0d3e12;
  opacity: 1;
}

textarea::placeholder {
  color: #0D1B3E;
  opacity: 1;
}

.form-icon {
  background: none;
}

.Form-button {
  position: relative;
  width: 12rem;
  border: none;
  background-color: #0D1B3E;
  color: #6E44FF;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  border: 1px solid #6E44FF;
}

.Form-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #6E44FF, #6E44FF);
  transition: left 0.5s ease;
  z-index: -1;
}

.Form-button:hover::before {
  left: 0;
  transition: left 0.5s ease;
  border: none;
}

.Form-button:hover {
  color: #0D1B3E;
  border: 1px solid #0D1B3E;
}

.custom-swal {
  background-color: #fff;
  color: #0D1B3E;
}

.custom-swal .swal2-title {
  color: #0D1B3E;
}

.custom-swal .swal2-confirm {
  background-color: #0D1B3E;
  color: #fff;
}

.custom-swal .swal2-icon {
  border-color: #6E44FF;
  background-color: #6E44FF;
}

.custom-swal .swal2-icon-warning {
  color: #6E44FF;
}

.card {
  width: 30rem;
  height: 60rem;
  background-color: #0D1B3E;
}

.card:hover {
  transform: scale(1.1);
  transition: .5s ease-in-out;
}

.card-img-top {
  height: 30rem;
  width: 12rem;
}

.card-body {
  background-color: #0D1B3E;
  color: #6E44FF;
}

.card-body h5 {
  color: #6E44FF;
}

.card-body h5:hover {
  text-decoration: underline;
}

.card-text {
  color: #6E44FF;
  font-style: 13px;
}

.card-body a {
  color: #6E44FF;
  background-color: #0D1B3E;
  border: 2px #6E44FF solid;
}

.card-body a:hover {
  color: #0D1B3E;
  border: 2px #6E44FF solid;
  background-color: #6E44FF;
}

.Footer-section {
  height: 31.25rem;
  max-width: 100%;
  background-color: #936BFF;
}

.Footer-top-section {
  background-color: #936BFF;
  width: 40rem;
  /* background-color: red; */
}

.Footer-top-section ul,
.Footer-top-section li,
h6 {
  background-color: #936BFF;
  list-style: none;
  color: #6E44FF;

}

.Footer-top-section a {
  text-decoration: none;
  color: #0D1B3E;
  background-color: #936BFF;
  font-size: 18px;
}

.Footer-top-section a:hover {
  text-decoration: underline;
  cursor: progress;
}

.Footer-bottom {
  background-color: #936BFF;
}

.Footer-bottom p {
  background-color: #936BFF;
}

@media (max-width:768px) {
  .Main-Navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 1rem;
  }
  .social-icons{
    margin: 1rem 0 0 0 ;
    padding: 0 0 0 2rem;
  }
  .Header{
    padding: 0 2rem;
    height: 80vh;
  }
  .Header h1 {
    font-size: clamp(4.5rem, 8vw, 15rem);
  }
  .home-text {
    font-size: 20px;
  }
  .Form-header h1 {
    margin: -4rem 0 0 0 ;
    background-color: #6E44FF;
    font-size: 3em;
  }
  
  .Form-header p {
    font-size: 1.2rem;
  }
  
.form-main {
  background-color: #6E44FF;
  width: 45%;
  margin: 0 5rem  ;
}
}